/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
@font-face {
  font-family: "Angelina";
  src: url(fonts/Angelina-rnlA.otf) format(opentype);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Blending";
  src: url(fonts/Blending-rgjzK.otf) format(opentype);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FeelFree";
  src: url(fonts/FeelfreePersonalUseRegular-lg2Bw.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

/* @media only screen and (min-width: 455px) {
  body {
    background-color: blue;
  } */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.nav-icons {
  position: absolute;
  top: 0;
  left: 3.2rem;
  width: calc(100% - 6.4rem);
  height: 8%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}
.nav-item {
  font-family: "Blending", sans-serif;
  border: none;
  background: none;
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(65, 71, 91);
}
.base {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-image: url(images/baseimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: 1.5em;
  width: 99vw;
  font-size: 1rem;
  height: 96vh;
}
.base::before {
  content: "";
  position: absolute;
  top: 0;
  left: 3.2rem;
  width: calc(100% - 6.4rem);
  height: 8%;
  background-color: rgb(255, 255, 255);
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  z-index: 1;
}
.upperhalf {
  font-family: "FeelFree", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 9rem;
}
.lowerhalf {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
.scroll-btn {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem;
  color: aliceblue;
}
.destinations {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 84rem;
  height: 95%;
  padding-left: 0.1rem;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.destinations::-webkit-scrollbar {
  display: none;
}
ul li {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  width: 20rem;
  height: 95%;
  border-radius: 10px;
  flex-shrink: 0;
  margin: 0.5rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}
ul li:hover {
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  transition: 0.4s;
}
.element-1 {
  background-image: url(images/japan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.element-2 {
  background-image: url(images/norway.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.element-3 {
  background-image: url(images/france.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.element-4 {
  background-image: url(images/iceland.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.element-5 {
  background-image: url(images/canada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.element-6 {
  background-image: url(images/italy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.element-7 {
  background-image: url(images/greece.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.element-8 {
  background-image: url(images/newzealand.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.element-9 {
  background-image: url(images/switzerland.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.element-10 {
  background-image: url(images/australia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.country {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  align-items: center;
  color: aliceblue;
  font-size: 2.3rem;
  font-weight: bold;
  text-shadow: 3px 3px 8px rgba(74, 73, 73, 0.8);
}

.read-more {
  margin-top: 5rem;
  margin-left: 10rem;
  font-family: "Blending", sans-serif;
  background: rgb(0, 157, 225);
  border: none;
  font-size: 1em;
  width: 7rem;
  height: 2.3rem;
  font-weight: bold;
  border-radius: 15px;
  color: rgb(255, 252, 252);
  box-shadow: 3px 3px 8px rgba(74, 73, 73, 0.8);
  backdrop-filter: blur(10px);
}
.read-more:hover {
  box-shadow: 3px 3px 8px rgba(41, 41, 41, 0.8);
  backdrop-filter: blur(10px);
  transition: 0.4s;
}
